<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        Welcome to the weather app!
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1">

        </p>
        <img class="weather-icon" id="weather-icon">
        <p id="message-2">
            
        </p>
    </div>
    {{>footer}}
    <script src="/js/app.mjs"></script>
</body>

</html>